{
    "openapi": "3.0.1",
    "info": {
      "title": "Légifrance",
      "description": "\nAfin de faciliter la réutilisation des données juridiques, la DILA met à disposition du public une API de Légifrance.\nCe document a pour objectif de décrire les méthodes de l'API Légifrance, présentées à l'aide du framework Swagger.\nVous pouvez également télécharger une [documentation complémentaire](https://www.legifrance.gouv.fr/contenu/Media/Files/pied-de-page/description-des-tris-et-filtres-de-l-api.xlsx) ainsi que des [exemples d’utilisation](https://www.legifrance.gouv.fr/contenu/Media/Files/pied-de-page/exemples-d-utilisation-de-l-api.docx) de l'API.\n\nCet accès vous permet d’expérimenter l'API sur un environnement de test et de vous familiariser avec les différentes méthodes.\n\nÀ noter :\n- L'environnement de test peut être indisponible.\n- Les appels sont limités par quotas.\n\nLes mises à jour correctives et évolutives sont réalisées dans un premier temps sur cet environnement.\nL'API mise à disposition correspond à celle utilisée par le site de Légifrance.\n\nLes données ne sont pas identiques à celles de Production.\n\nL'API Légifrance est mise à disposition sous [conditions](https://www.legifrance.gouv.fr/contenu/pied-de-page/open-data-et-api).\n\nPour toute question, vous pouvez écrire à l'adresse retours-legifrance-modernise@dila.gouv.fr.",
      "contact": {
        "name": "DILA",
        "url": "https://www.dila.premier-ministre.gouv.fr",
        "email": "retours-legifrance-modernise@dila.gouv.fr"
      },
      "license": {
        "name": "Licence ouverte v2.0",
        "url": "https://www.etalab.gouv.fr/wp-content/uploads/2017/04/ETALAB-Licence-Ouverte-v2.0.pdf"
      },
      "version": "2.4.2"
    },
    "servers": [
      {
        "url": "https://sandbox-api.piste.gouv.fr/dila/legifrance/lf-engine-app"
      },
      {
        "url": "http://sandbox-api.piste.gouv.fr/dila/legifrance/lf-engine-app"
      }
    ],
    "security": [
      {
        "SecurityProfile.OAuthImplicit": [
          "openid"
        ]
      },
      {
        "SecurityProfile.OAuthAccessCode": [
          "openid"
        ]
      }
    ],
    "tags": [
      {
        "name": "Chrono Controller",
        "description": "Accès aux versions de texte"
      },
      {
        "name": "Consult Controller",
        "description": "Accès aux textes"
      },
      {
        "name": "List Controller",
        "description": "Liste les textes"
      },
      {
        "name": "Misc Controller",
        "description": "Services divers"
      },
      {
        "name": "Search Controller",
        "description": "Recherche sur les textes"
      },
      {
        "name": "Suggest Controller",
        "description": "Autosuggestion/Autocompletion sur les textes et articles"
      }
    ],
    "paths": {
      "/consult/getCnilWithAncienId": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu d'un texte CNIL",
          "description": "Récupère un texte du fond CNIL en fonction de son Ancien ID",
          "operationId": "getCnilWithAncienIdUsingPOST",
          "requestBody": {
            "description": "AncienId du texte cible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CnilConsultWithAncienId"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultCnilTextResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/list/docsAdmins": {
        "post": {
          "tags": [
            "List Controller"
          ],
          "summary": "Liste des documents administratifs",
          "description": "Permet de récupérer la liste des documents administratifs pour une période donnée",
          "operationId": "listDocsAdminsUsingPOST",
          "requestBody": {
            "description": "Liste des années recherchées",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocsAdminsListRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DocsAdminsListResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/suggest/acco": {
        "post": {
          "tags": [
            "Suggest Controller"
          ],
          "summary": "Suggestions des siret et raisons sociale pour les accords",
          "description": "Effectue les suggestions siret et raisons sociales sur les accords d'entreprise à partir d'une chaine de caractères",
          "operationId": "siretRcSuggestUsingPOST",
          "requestBody": {
            "description": "Critères de recherche de suggestion (texte)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SuggestAccoResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/getTables": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Liste des tables annuelles",
          "description": "Permet de récupérer l'ensemble des tables annuelles pour une période donnée",
          "operationId": "getTablesUsingPOST",
          "requestBody": {
            "description": "Période en année de la recherche des tables",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GetTableResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/list/bodmr": {
        "post": {
          "tags": [
            "List Controller"
          ],
          "summary": "Liste des bulletins officiels des décorations, médailles et récompenses",
          "description": "Permet de récupérer la liste des bulletins officiels des décorations, médailles et récompenses",
          "operationId": "listBodmrUsingPOST",
          "requestBody": {
            "description": "Récupère les bulletins officiels des décorations, médailles et récompenses dans une liste paginée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BodmrListRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BodmrListResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/list/dossiersLegislatifs": {
        "post": {
          "tags": [
            "List Controller"
          ],
          "summary": "Liste paginée des dossiers législatifs",
          "description": "Récupère les dossiers législatifs dans une liste paginée",
          "operationId": "listDossiersLegislatifsUsingPOST",
          "requestBody": {
            "description": "Critères de pagination de la liste des dossiers législatifs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DossiersLegislatifsRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DossiersLegislatifsListResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/list/questionsEcritesParlementaires": {
        "post": {
          "tags": [
            "List Controller"
          ],
          "summary": "Liste paginée des questions écrites parlementaires",
          "description": "Permet de récupérer la liste paginée des questions écrites parlementaires",
          "operationId": "listQuestionsEcritesUsingPOST",
          "requestBody": {
            "description": "Récupère les questions écrites parlementaires dans une liste paginée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionsEcritesParlementairesListRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/QuestionsEcritesParlementairesListResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/misc/commitId": {
        "get": {
          "tags": [
            "Misc Controller"
          ],
          "summary": "Informations déploiement et versionning",
          "description": "Récupère les informations relatives au déploiement et au versionning de l'application",
          "operationId": "getCommitIdUsingGET",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          }
        }
      },
      "/list/conventions": {
        "post": {
          "tags": [
            "List Controller"
          ],
          "summary": "Liste paginée des conventions",
          "description": "Récupère les conventions dans une liste paginée",
          "operationId": "listConventionsUsingPOST",
          "requestBody": {
            "description": "Critères de pagination de la liste de conventions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConventionsListRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConventionsListResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/getArticleWithIdEliOrAlias": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu d'un article",
          "description": "Récupère un article par son identifiant Eli ou Alias",
          "operationId": "getArticleWithIdEliOrAliasUsingPOST",
          "requestBody": {
            "description": "Identifiant Eli ou alias de l'article",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleIdEliOrAliasRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GetArticleResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/ping": {
        "get": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Teste le controller",
          "description": "Retourne pong",
          "operationId": "pingUsingGET_1",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          }
        }
      },
      "/consult/kaliArticle": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu des conventions collectives depuis un article",
          "description": "Récupère le contenu d'un texte du fonds des conventions collectives (KALI) à partir de l'identifiant de son article",
          "operationId": "displayKaliArticleUsingPOST",
          "requestBody": {
            "description": "Identifiant technique de l'article",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KaliTextConsultArticleRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultKaliTextResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/list/loda": {
        "post": {
          "tags": [
            "List Controller"
          ],
          "summary": "Liste paginée des textes de type LODA",
          "description": "Récupère les éléments de type LODA dans une liste paginée",
          "operationId": "listLODAUsingPOST",
          "requestBody": {
            "description": "Critères de pagination de la liste LODA",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LODAListRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/LODAListResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/sameNumArticle": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Liste des articles ayant eu le même numéro",
          "description": "Permet de récupérer les liens des articles ayant eu le même numéro que l'article en cours dans des versions précédentes du texte",
          "operationId": "displaySameNumArticleUsingPOST",
          "requestBody": {
            "description": "Identifiant commun du texte / identifiant commun de l'article / numéro de l'article / date de référence",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SameNumArticleRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SectionsRevisionArticleResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "sameNumArticleRequest"
        }
      },
      "/consult/concordanceLinksArticle": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Liste des liens de concordance d'un article",
          "description": "Permet de récupérer les liens de concordance d'un article",
          "operationId": "displayConcordanceLinksArticleUsingPOST",
          "requestBody": {
            "description": "Identifiant technique de l'article",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConcordanceLinksRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SectionsRevisionArticleResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "concordanceLinksRequest"
        }
      },
      "/consult/code": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu texte type CODE",
          "description": "Récupère le contenu d'un texte de type CODE à partir de son identifiant et de sa date de vigueur",
          "operationId": "displayCodeUsingPOST",
          "requestBody": {
            "description": "Identifiant technique et date de version du texte",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeConsultRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultTextResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "codeConsultRequest"
        }
      },
      "/search": {
        "post": {
          "tags": [
            "Search Controller"
          ],
          "summary": "Recherche générique des documents indexés",
          "description": "Permet de faire une recherche de documents. On peut préciser le fond, les filtres textuels, les facettes et la pagination",
          "operationId": "searchUsingPOST",
          "requestBody": {
            "description": "Requête de recherche porteur du/des fonds ciblés, des filtres et des informations de pagination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchRequestDTO"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SearchResponseDTO"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "jsonRequest"
        }
      },
      "/list/boccTexts": {
        "post": {
          "tags": [
            "List Controller"
          ],
          "summary": "Liste paginée des textes unitaires des bulletins officiels des conventions collectives",
          "description": "Permet de récupérer la liste paginée des textes des bulletins officiels des conventions collectives",
          "operationId": "listTextsBoccUsingPOST",
          "requestBody": {
            "description": "Récupère les bulletins officiels des conventions collectives dans une liste paginée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoccListRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BoccTextsListResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/list/ping": {
        "get": {
          "tags": [
            "List Controller"
          ],
          "summary": "Teste le controller",
          "description": "Retourne pong",
          "operationId": "pingUsingGET_3",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          }
        }
      },
      "/list/boccsAndTexts": {
        "post": {
          "tags": [
            "List Controller"
          ],
          "summary": "Liste paginée des bulletins officiels des conventions collectives",
          "description": "Permet de récupérer la liste paginée des bulletins officiels des conventions collectives ainsi que leurs textes unitaires",
          "operationId": "listBoccsAndTextsUsingPOST",
          "requestBody": {
            "description": "Récupère les bulletins officiels des conventions collectives ainsi que leurs textes unitaires dans une liste paginée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoccAndTextListRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BoccGlobalListResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/kaliContIdcc": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu des conteneurs des conventions collectives",
          "description": "Récupère le contenu d'un conteneur du fonds des conventions collectives (KALI) à partir de son idcc",
          "operationId": "displayKaliContByIdccUsingPOST",
          "requestBody": {
            "description": "Identifiant fonctionnel du texte : l'idcc",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KaliContConsultIdccRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultKaliContResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/legi/tableMatieres": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu table des matières d'un texte LODA ou CODE",
          "description": "Récupère la table des matières d'un texte de type CODE ou LODA à partir de son identifiant, sa date de vigueur. Possibilité de rechercher uniquement les codes en positionnant 'nature' sur 'CODE'",
          "operationId": "displayTextTableOfContentsUsingPOST",
          "requestBody": {
            "description": "Filtre de recherche d'un sommaire contenant un id/cid, une date et la nature texte recherché",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegiSommaireConsultRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultTextResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "sommaireRequest"
        }
      },
      "/consult/getArticleByCid": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu des versions d'un article",
          "description": "Récupère la liste des articles par leur identifiant commun",
          "operationId": "getArticleByCidUsingPOST",
          "requestBody": {
            "description": "Identifiant technique de l'article",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleCidRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GetListArticleResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/suggest": {
        "post": {
          "tags": [
            "Suggest Controller"
          ],
          "summary": "Suggestions de résultats",
          "description": "Effectue les diverses suggestions sur les différents fonds à partir d'une chaine de caractères et de la liste des fonds sélectionnés",
          "operationId": "crossSearchUsingPOST",
          "requestBody": {
            "description": "Critères de recherche de suggestion (texte et fonds ciblés)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestSupplyRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SuggestResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/list/code": {
        "post": {
          "tags": [
            "List Controller"
          ],
          "summary": "Liste paginée des codes",
          "description": "Récupère les codes dans une liste paginée",
          "operationId": "listCodeUsingPOST",
          "requestBody": {
            "description": "Critères de pagination de la liste code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeListRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CodeListResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/list/bocc": {
        "post": {
          "tags": [
            "List Controller"
          ],
          "summary": "Liste paginée des bulletins officiels des conventions collectives",
          "description": "Permet de récupérer la liste paginée des bulletins officiels des conventions collectives",
          "operationId": "listBoccUsingPOST",
          "requestBody": {
            "description": "Récupère les bulletins officiels des conventions collectives dans une liste paginée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalBoccListRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BoccGlobalListResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/getJuriPlanClassement": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu texte fonds JURI",
          "description": "Récupère le contenu d'un texte du fonds JURI à partir de son identifiant",
          "operationId": "displayJuriPlanClassementUsingPOST",
          "requestBody": {
            "description": "Identifiant technique du texte",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JuriPlanClassementRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GetListPlanClassementJuriResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/servicePublicLinksArticle": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Liste des liens service public d'un article",
          "description": "Permet de récupérer les liens service public d'un article donné",
          "operationId": "displayServicePublicLinksArticleUsingPOST",
          "requestBody": {
            "description": "Identifiant technique de l'article",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicePublicLinksArticleRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ServicePublicLinksArticleResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "servicePublicLinksArticleRequest"
        }
      },
      "/list/debatsParlementaires": {
        "post": {
          "tags": [
            "List Controller"
          ],
          "summary": "Liste des débats parlementaires",
          "description": "Permet de récupérer la liste des débats parlementaires",
          "operationId": "listDebatsParlementairesUsingPOST",
          "requestBody": {
            "description": "Requête de recherche des débats parlementaires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebatsParlementairesListRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DebatsParlementairesListResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/cnil": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu texte fonds CNIL",
          "description": "Récupère le contenu d'un texte du fonds CNIL à partir de son identifiant",
          "operationId": "displayCnilUsingPOST",
          "requestBody": {
            "description": "Identifiant technique du texte",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CnilConsultRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultCnilTextResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/search/ping": {
        "get": {
          "tags": [
            "Search Controller"
          ],
          "summary": "Teste le controller",
          "description": "Retourne pong",
          "operationId": "pingUsingGET_4",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          }
        }
      },
      "/suggest/ping": {
        "get": {
          "tags": [
            "Suggest Controller"
          ],
          "summary": "Teste le controller",
          "description": "Retourne pong",
          "operationId": "pingUsingGET_5",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          }
        }
      },
      "/chrono/textCidAndElementCid": {
        "post": {
          "tags": [
            "Chrono Controller"
          ],
          "summary": "Extrait d'une version d'un texte",
          "description": "Récupère un extrait (section ou article) d'une version spécifique d'un texte à partir des identifiants du texte et de l'extrait (section ou article)",
          "operationId": "getVersionByTextCidAndElementCidUsingPOST",
          "requestBody": {
            "description": "Identifiants techniques du texte et de l'extrait ciblé (article ou section)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChronoLegiArticleRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ChronolegiResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/search/canonicalArticleVersion": {
        "post": {
          "tags": [
            "Search Controller"
          ],
          "summary": "Récupération des versions de l'article",
          "description": "Permet de récupérer les versions d'un article",
          "operationId": "searchCanonicalArticleVersionUsingPOST",
          "requestBody": {
            "description": "Identifiant commun de l'article",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SearchCanonicalArticleVersionResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/search/canonicalVersion": {
        "post": {
          "tags": [
            "Search Controller"
          ],
          "summary": "Récupération des infos de la version canonique",
          "description": "Permet de récupérer la date de debut de la version canonique d'un texte",
          "operationId": "searchCanonicalVersionUsingPOST",
          "requestBody": {
            "description": "Date de recherche / Identifiant commun du texte / Identifiant commun de la section",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchCanonicalVersionRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SearchCanonicalVersionResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/jorfCont": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Liste de sommaire JORF",
          "description": "Récupère la liste de conteneurs/sommaires JORF",
          "operationId": "displayJorfContUsingPOST",
          "requestBody": {
            "description": "Periode de JORF recherché / id de JORF recherché / numéro de JORF recherché",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JorfContConsultRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GetJosResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/chrono/textCid/{textCid}": {
        "get": {
          "tags": [
            "Chrono Controller"
          ],
          "summary": "Vérifie si un texte possède des versions",
          "description": "Indique si un texte possède des versions chrono à partir de l'identifiant du texte",
          "operationId": "hasVersionByTextCidUsingGET",
          "parameters": [
            {
              "name": "textCid",
              "in": "path",
              "description": "Chronical ID",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HasChronolegiResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          }
        }
      },
      "/consult/dossierLegislatif": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu d'un dossier législatif",
          "description": "Récupère le contenu d'un dossier legislatif par son identifiant",
          "operationId": "displayDossierLegislatifUsingPOST",
          "requestBody": {
            "description": "Identifiant technique du dossier législatif",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DossierLegislatifRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultDossierLegislatifResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/chrono/textCid": {
        "post": {
          "tags": [
            "Chrono Controller"
          ],
          "summary": "Version d'un texte",
          "description": "Récupère une version spécifique d'un texte à partir de l'identifiant du texte",
          "operationId": "getVersionByTextCidUsingPOST",
          "requestBody": {
            "description": "Identifiant technique du texte",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChronoLegiTextRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ChronolegiResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/juri": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu texte fonds JURI",
          "description": "Récupère le contenu d'un texte du fonds JURI à partir de son identifiant",
          "operationId": "displayJuriUsingPOST",
          "requestBody": {
            "description": "Identifiant technique du texte",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JuriConsultRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultJuriTextResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/legiPart": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu texte fonds LEGI",
          "description": "Récupère le contenu d'un texte du fonds LEGI à partir de son identifiant et de sa date de vigueur",
          "operationId": "displayLegiPartUsingPOST",
          "requestBody": {
            "description": "Identifiant technique et date de version du texte",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegiConsultRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultTextResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "legiConsultRequest"
        }
      },
      "/suggest/pdc": {
        "post": {
          "tags": [
            "Suggest Controller"
          ],
          "summary": "Suggestions des libellés pour les plans de classement",
          "description": "Effectue les suggestions des libellés sur les plans de classements à partir d'une chaine de caractères",
          "operationId": "pdcSuggestUsingPOST",
          "requestBody": {
            "description": "Critères de recherche de suggestion (texte)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestPdcRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SuggestResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/misc/datesWithoutJo": {
        "get": {
          "tags": [
            "Misc Controller"
          ],
          "summary": "Liste des dates sans JO",
          "description": "Permet de récupérer l'ensemble des dates pour lesquelles il n'existe pas de Journal Officiel",
          "operationId": "getDatesWithoutJoUsingGET",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DatesWithNoJoResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          }
        }
      },
      "/consult/getJuriWithAncienId": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu d'un texte juri",
          "description": "Récupère un texte du fond juri en fonction de son Ancien ID",
          "operationId": "getJuriWithAncienIdUsingPOST",
          "requestBody": {
            "description": "AncienId du texte cible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JuriConsultWithAncienId"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultJuriTextResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/jorf": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu texte fonds JORF",
          "description": "Récupère le contenu d'un texte du fonds JORF à partir de son identifiant",
          "operationId": "displayJorfUsingPOST",
          "requestBody": {
            "description": "Chronical ID du texte",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JorfConsultRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultJorfResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "jorfConsultRequest"
        }
      },
      "/consult/getCodeWithAncienId": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu d'un Code",
          "description": "Récupère un Code en fonction de son Ancien ID",
          "operationId": "getCodeWithAncienIdUsingPOST",
          "requestBody": {
            "description": "AncienId du code cible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeConsultWithAncienId"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultTextResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/getJoWithNor": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu d'un JO",
          "description": "Récupère un JO en fonction de son NOR",
          "operationId": "getJoWithNorUsingPOST",
          "requestBody": {
            "description": "NOR du JO cible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JorfConsultWithNorRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultJorfResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/lastNJo": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Derniers journaux officels",
          "description": "Récupère les derniers journaux officiels",
          "operationId": "getLastNJoUsingPOST",
          "requestBody": {
            "description": "Nombre de JOs à remonter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LastNElementRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GetJorfContResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/kaliSection": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu des conventions collectives depuis une section",
          "description": "Récupère le contenu d'un texte du fonds des conventions collectives (KALI) à partir de l'identifiant de sa section",
          "operationId": "displayKaliSectionUsingPOST",
          "requestBody": {
            "description": "Identifiant technique de la section",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KaliTextConsultSectionRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultKaliTextResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/kaliCont": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu des conteneurs des conventions collectives",
          "description": "Récupère le contenu d'un conteneur du fonds des conventions collectives (KALI) à partir de son identifiant",
          "operationId": "displayKaliContUsingPOST",
          "requestBody": {
            "description": "Identifiant technique du conteneur",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KaliContConsultRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultKaliContResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/list/legislatures": {
        "post": {
          "tags": [
            "List Controller"
          ],
          "summary": "Liste des législatures",
          "description": "Récupère les législatures",
          "operationId": "listLegislaturesUsingPOST",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/LegislaturesListResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          }
        }
      },
      "/consult/code/tableMatieres": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu table des matières d'un CODE (déprécié, utiliser /legi/tableMatieres avec le champ 'nature'='CODE' à la place)",
          "description": "Récupère la table des matières d'un texte de type CODE à partir de son identifiant et de sa date de vigueur",
          "operationId": "displayCodeTableOfContentsUsingPOST",
          "requestBody": {
            "description": "Identifiant technique et date de version du texte",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeConsultRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultTextResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "deprecated": true,
          "x-codegen-request-body-name": "codeConsultRequest"
        }
      },
      "/search/nearestVersion": {
        "post": {
          "tags": [
            "Search Controller"
          ],
          "summary": "Récupération des infos de la version la plus proche",
          "description": "Permet de récupérer le titre et la section de la version d'un texte la plus proche d'une date donnée",
          "operationId": "searchNearestVersionUsingPOST",
          "requestBody": {
            "description": "Date de recherche / Identifiant commun du texte / Identifiant commun de la section",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchNearestVersionRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SearchNearestVersionResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/getBoccTextPdfMetadata": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Métadonnées d'un PDF lié à un texte unitaire BOCC",
          "operationId": "getBoccTextPdfMetadataUsingPOST",
          "requestBody": {
            "description": "id du texte BOCC",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoccConsultRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultBoccResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/hasServicePublicLinksArticle": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Liste d'articles possédant des liens service public à afficher",
          "description": "Permet de décider de l'affichage du bouton pour liens service public associé à un article",
          "operationId": "hasServicePublicLinksArticleUsingPOST",
          "requestBody": {
            "description": "Liste d'identifiant chanonique d'article(s)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "articleListRequest"
        }
      },
      "/consult/getSectionByCid": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu d'une section",
          "description": "Récupère la liste des section par leur identifiant commun",
          "operationId": "getSectionByCidUsingPOST",
          "requestBody": {
            "description": "Identifiant technique de la section",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SectionCidRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GetListSectionResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/debat": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu d'un débat parlementaire",
          "description": "Récupère le contenu d'un débat parlementaire à partir de son identifiant",
          "operationId": "displayDebatUsingPOST",
          "requestBody": {
            "description": "Identifiant technique du débat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebatParlementaireConsultRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultDebatResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/chrono/ping": {
        "get": {
          "tags": [
            "Chrono Controller"
          ],
          "summary": "Teste le controller",
          "description": "Retourne pong",
          "operationId": "pingUsingGET",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "string"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          }
        }
      },
      "/consult/kaliText": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu des conventions collectives",
          "description": "Récupère le contenu d'un texte du fonds des conventions collectives (KALI) à partir de son identifiant",
          "operationId": "displayKaliTextUsingPOST",
          "requestBody": {
            "description": "Identifiant technique du texte",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KaliTextConsultRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultKaliTextResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/getArticle": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu d'un article",
          "description": "Récupère un article par son identifiant",
          "operationId": "getArticleUsingPOST",
          "requestBody": {
            "description": "Identifiant technique de l'article",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GetArticleResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "articleRequest"
        }
      },
      "/consult/getArticleWithIdAndNum": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu d'un article en vigueur en fonction de son identifiant ( ID ) et son numéro d'article",
          "description": "Récupère uniquement les versions d'un article qui est en vigueur au moment de la recherche en fonction de son ID et de son numéro d'article\nLimitation : seuls les articles ne comportant pas de version en vigueur différée peuvent être trouvés par cette méthode",
          "operationId": "getArticleWithIdAndNumUsingPOST",
          "requestBody": {
            "description": "Id et Num",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleConsultWithIdAndNum"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GetArticleResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/lawDecree": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu texte type LODA",
          "description": "Récupère le contenu d'un texte de type LODA à partir de son identifiant et de sa date de vigueur",
          "operationId": "displayLawDecreeUsingPOST",
          "requestBody": {
            "description": "Identifiant technique et date de version du texte",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LawDecreeConsultRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultTextResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "lawDecreeConsultRequest"
        }
      },
      "/consult/eliAndAliasRedirectionTexte": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu des textes du JO.",
          "description": "Récupère le contenu d'un texte du fonds JORF à partir de son idEli ou idEliAlias",
          "operationId": "getJoCidWithEliOrAliasUsingPOST",
          "requestBody": {
            "description": "idEli ou idEliAlias",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JorfConsultWithIdEliAliasRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultJorfResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "jorfConsultWithIdEliAliasRequest"
        }
      },
      "/misc/yearsWithoutTable": {
        "get": {
          "tags": [
            "Misc Controller"
          ],
          "summary": "Liste des années sans table",
          "description": "Permet de récupérer l'ensemble des années sans table annuelle",
          "operationId": "getYearsWithoutTableUsingGET",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/YearsWithNoTableResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          }
        }
      },
      "/consult/acco": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu d'un accord d'entreprise",
          "description": "Récupère le contenu d'un accord d'entreprise à partir de son identifiant",
          "operationId": "displayAccoUsingPOST",
          "requestBody": {
            "description": "Identifiant technique de l'accord",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccoConsultRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultAccoResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/jorfPart": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu texte fonds JORF",
          "description": "Récupère le contenu d'un texte du fonds JORF à partir de l'identifiant d'une de ses sections ou articles",
          "operationId": "displayJorfPartUsingPOST",
          "requestBody": {
            "description": "Chronical ID de l'élément",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JorfConsultRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultJorfResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/consult/circulaire": {
        "post": {
          "tags": [
            "Consult Controller"
          ],
          "summary": "Contenu d'une circualire",
          "description": "Récupère le contenu d'une circulaire à partir de son identifiant",
          "operationId": "displayCirculaireUsingPOST",
          "requestBody": {
            "description": "Identifiant technique de la circualire",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CirculaireConsultRequest"
                }
              }
            },
            "required": false
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ConsultCirculaireResponse"
                  }
                }
              }
            },
            "201": {
              "description": "Created",
              "content": {}
            },
            "401": {
              "description": "Unauthorized",
              "content": {}
            },
            "403": {
              "description": "Forbidden",
              "content": {}
            },
            "404": {
              "description": "Not Found",
              "content": {}
            }
[...]
